#root {
  max-width: 1320px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.55);

}

.home,
.duration,
.repetition,
.countdown {
  border: 2px solid #46615d;
  padding: 30px;
  border-radius: 20px;
  width: 500px;
  max-width: 500px;
  height: 1200px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35);
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 930px;
}

.Running,
.PushUps,
.Plank,
.Squats {
  border: 2px solid #00FFDD;
  margin: 15px 0px;
  border-radius: 20px;
  background-color: #3f504b;
  height: 210px;

}

.Running h1,
.PushUps h1,
.Plank h1,
.Running p,
.PushUps p,
.Plank p,
.duration_header,
.repetition_header,
.countdown_header,
.Squats h1,
.Squats p {
  text-align: left;
}

.Running h1,
.PushUps h1,
.Plank h1 {
  font-size: 35px;
}


.Running button,
.PushUps button,
.Plank button,
.Squats button {
  text-align: center;
  margin-left: auto;
  display: block;
  white-space: normal;
  width: auto;
  min-width: 120px;
  height: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35);
  ;
}

.start-button {
  margin-bottom: 10px;
  margin-right: 10px;
  width: 120px;
}

.start-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.home_header {
  text-align: left;
  margin: 0;
}

.exercise_box--text {
  width: 300px;
  margin-left: 20px;

}

#duration_button,
#repetition_button,
#countdown_button {
  margin: 0px 5px;
}


/************************/

.display {

  margin: 0px 30px 20px 30px;
  padding: 100px 50px 50px 50px;
  font-size: 50px;
  font-weight: 500;
}

.duration_container {
  background-color: #3f504b;
  border: 1px solid #00FFDD;
  border-radius: 30px;
}


h3 {
  margin-left: 15px;
}

h2 {
  font-size: 40px;
  margin: 0;
  margin-left: 15px;
}

.back_btn {
  justify-content: left;
  display: block;
  margin: 10px 0px 10px -15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.controls button,
.countdown_controls button {
  margin: 10px;
  width: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;

}

.counter button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  background-color: #242a29;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  text-align: center;
  line-height: 1;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
}

.counter button:hover {
  background-color: #353535;
}

.counter_container button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.current_number {
  background-color: #566f67;
  margin: 0px 20px 20px 30px;
  padding: 50px 70px;
  border-radius: 30px;
  border: 1px solid #00FFDD;
  font-size: 50px;
  font-weight: 500;
  width: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.counter_container {
  background-color: #3f504b;
  padding: 40px 40px 20px 40px;
  border-radius: 30px;
  border: 1px solid #00FFDD;
}


/************/

input {
  border-radius: 30px;
  height: 40px;
  width: 200px;
  margin-bottom: 10px;
  color: white;
  background-color: #566f67;
  border: 1px solid #00FFDD;
}

input::placeholder {
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 10px;
}

.time {
  background-color: #566f67;
  margin: 0px 20px 20px 30px;
  padding: 50px 50px;
  border-radius: 30px;
  border: 1px solid #00FFDD;
  font-size: 50px;
  font-weight: 500;
  width: 280px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}